name: Run tests
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v3
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.13.0"
          cache: "pnpm"
      # - run: npm audit --only=prod
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
      - name: archive build outputs
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: build/
      - run: pnpm run check
      - run: pnpm run test
      - run: pnpm run coverage
      - name: archive test coverage report
        uses: actions/upload-artifact@v6
        with:
          name: testCoverage
          path: test/coverageReports/
